# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Figma plugin build files
dist/
build/

# Environment variables
.env

# Mac system files
.DS_Store

# IDE specific files
.vscode/
.idea/

#Old code files
old_code/